---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- Animated WSL Signature Logo - Readable handwriting style -->
    <svg
      width="190"
      height="90"
      viewBox="190 90 190 90"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="logo-svg"
    >
      <!-- Mask for variable stroke width -->
      <defs>
        <mask id="logo-mask">
          <!-- Fill shape for mask (bold signature style) -->
          <!-- Continuous single stroke path for 'wsl' -->
          <path d="M 129.65 3.757 Q 127.85 2.757 125.65 1.257 Q 123.95 0.157 123.65 0.057 Q 123.15 -0.143 123.15 0.357 Q 123.15 0.957 120.8 5.857 Q 118.45 10.757 118.45 10.857 Q 118.45 11.257 113.75 20.257 Q 109.55 28.357 101.55 40.257 Q 98.15 45.357 98.55 45.757 Q 98.95 46.157 103.45 41.857 Q 106.15 39.257 109.35 35.157 Q 110.05 34.257 110.65 33.657 Q 114.05 29.857 114.05 32.457 Q 114.05 33.757 115.85 34.057 Q 117.65 34.357 120.25 33.657 Q 120.95 33.457 121.05 33.707 Q 121.15 33.957 121.15 35.257 Q 121.15 36.957 120.75 37.707 Q 120.35 38.457 119.15 38.857 Q 118.05 39.057 113.65 41.157 Q 109.25 43.257 108.15 44.257 Q 106.95 45.157 107.15 46.407 Q 107.35 47.657 107.75 47.857 Q 108.75 48.557 111.55 48.007 Q 114.35 47.457 115.65 46.357 Q 116.15 45.857 117.7 45.057 Q 119.25 44.257 119.65 44.257 Q 119.95 44.257 119.95 47.607 Q 119.95 50.957 120.45 51.357 Q 120.95 51.757 119.75 52.157 Q 118.55 52.557 116.05 54.607 Q 113.55 56.657 113.25 56.457 Q 112.95 56.257 112.3 57.257 Q 111.65 58.257 111.65 59.057 Q 111.65 59.457 112.35 61.757 Q 113.05 64.057 113.55 65.257 Q 113.85 66.057 114.8 68.257 Q 115.75 70.457 116.3 71.107 Q 116.85 71.757 116.85 71.957 Q 116.85 72.457 118.2 74.157 Q 119.55 75.857 119.85 75.857 Q 120.35 75.857 121 74.457 Q 121.65 73.057 122 73.057 Q 122.35 73.057 122.55 72.357 Q 122.75 71.457 125.65 70.857 Q 128.55 70.257 131.35 70.557 Q 133.45 70.657 134 70.557 Q 134.55 70.457 134.95 69.857 Q 135.95 68.157 135.85 65.807 Q 135.75 63.457 134.65 63.457 Q 134.25 63.457 133.65 63.057 Q 133.05 62.657 133.75 61.957 Q 134.45 61.257 135.35 59.857 Q 136.25 58.457 137.3 58.007 Q 138.35 57.557 139.95 55.257 Q 141.15 53.657 141.3 53.207 Q 141.45 52.757 141.05 51.857 Q 139.75 49.257 131.55 49.457 L 127.55 49.457 L 127.85 48.357 Q 128.05 47.257 128.25 44.257 L 128.45 41.057 L 132.25 40.957 Q 136.15 40.757 137.35 41.557 Q 139.85 42.957 140.45 43.157 Q 141.05 43.357 141.75 43.057 Q 142.75 42.657 142.75 42.107 Q 142.75 41.557 143.75 40.357 Q 144.75 39.157 148.85 37.857 L 154.85 36.057 Q 156.55 35.357 159.75 35.057 Q 161.95 34.857 166.45 34.807 Q 170.95 34.757 174.55 34.907 Q 178.15 35.057 178.05 35.257 Q 177.65 37.657 175.05 41.057 Q 174.55 41.757 174.15 42.407 Q 173.75 43.057 173.6 43.407 Q 173.45 43.757 173.55 43.757 Q 173.95 43.857 176.45 42.357 Q 181.85 39.257 185.15 39.657 Q 186.55 39.957 187.05 39.707 Q 187.55 39.457 188.75 38.457 Q 190.35 36.957 190.35 36.207 Q 190.35 35.457 190.75 35.257 Q 191.35 34.957 191.2 34.207 Q 191.05 33.457 190.25 32.757 Q 189.35 31.857 186.75 30.857 Q 184.95 30.057 183.3 29.907 Q 181.65 29.757 175.15 29.557 Q 166.15 29.457 165.9 29.107 Q 165.65 28.757 166.35 26.957 Q 167.05 25.557 167.05 25.057 Q 167.05 24.557 166.65 23.457 Q 165.95 21.957 165.1 21.607 Q 164.25 21.257 164.25 20.757 Q 164.25 20.557 167.05 18.207 Q 169.85 15.857 170.15 15.857 Q 170.55 15.857 171.6 14.507 Q 172.65 13.157 173.15 11.957 Q 173.65 10.957 173.05 10.057 Q 172.45 9.157 171.25 8.557 Q 170.15 8.157 168.95 7.507 Q 167.75 6.857 163.05 6.957 Q 156.95 7.057 153.1 8.207 Q 149.25 9.357 148.55 11.157 Q 148.25 12.157 148.7 12.607 Q 149.15 13.057 150.65 13.357 Q 151.95 13.557 152.95 12.657 Q 155.05 11.057 160.35 10.457 Q 162.05 10.257 162.35 10.657 Q 162.65 11.057 161.85 12.757 Q 161.35 14.057 160.35 16.457 L 159.25 18.857 L 156.15 19.057 Q 152.55 19.257 151.8 20.257 Q 151.05 21.257 152.95 23.257 Q 154.35 24.757 153.95 25.507 Q 153.55 26.257 154.35 26.257 Q 154.95 26.257 156.4 27.807 Q 157.85 29.357 157.75 29.757 Q 157.45 30.357 150.85 32.157 Q 146.95 33.057 141.65 34.857 Q 137.85 36.057 136.9 36.207 Q 135.95 36.357 135.25 35.957 Q 134.35 35.357 131.65 35.357 L 128.85 35.457 L 128.85 34.257 Q 128.85 33.057 128.55 31.957 Q 128.35 31.057 128.5 30.857 Q 128.65 30.657 129.45 30.657 Q 130.65 30.657 131.75 29.857 Q 132.75 28.957 132.85 27.407 Q 132.95 25.857 131.85 24.757 Q 131.05 24.157 130.55 24.057 Q 130.05 23.957 128.95 24.057 Q 125.45 24.557 118.45 27.957 Q 115.95 29.157 115.8 28.957 Q 115.65 28.757 117.25 26.607 Q 118.85 24.457 120.1 22.257 Q 121.35 20.057 123.45 16.907 Q 125.55 13.757 125.55 13.657 Q 125.55 13.357 126.85 11.607 Q 128.15 9.857 128.45 9.857 Q 128.85 9.857 129.6 8.957 Q 130.35 8.057 130.4 7.507 Q 130.45 6.957 130.95 5.857 L 131.65 4.657 L 129.65 3.757 Z M 75.65 33.657 Q 76.15 33.357 78.95 33.557 Q 81.75 33.757 82.75 34.357 Q 83.95 34.857 85.85 35.757 Q 88.45 36.857 89.3 39.157 Q 90.15 41.457 89.05 43.507 Q 87.95 45.557 85.35 46.157 Q 83.85 46.457 83.2 46.357 Q 82.55 46.257 81.05 45.457 Q 76.45 42.957 75.15 42.607 Q 73.85 42.257 69.95 41.957 Q 64.05 41.657 55.6 41.757 Q 47.15 41.857 44.25 42.357 Q 40.85 42.757 33.15 43.757 Q 21.05 45.457 15.75 47.957 Q 13.75 48.957 13.3 48.957 Q 12.85 48.957 11.4 51.257 Q 9.95 53.557 9.05 53.757 Q 6.55 54.457 4.25 52.457 Q 3.05 51.457 2.75 51.457 Q 2.25 51.457 1.25 50.207 Q 0.25 48.957 0.05 48.057 Q -0.15 47.057 0.45 45.607 Q 1.05 44.157 3.65 42.857 Q 8.05 40.757 13.85 39.757 Q 17.75 38.957 20.65 38.457 Q 28.75 36.757 35.45 36.257 Q 39.55 35.757 42.6 35.307 Q 45.65 34.857 60.5 34.507 Q 75.35 34.157 75.65 33.657 Z M 51.05 56.557 L 51.55 54.557 L 54.25 54.457 Q 56.25 54.357 56.95 54.557 Q 57.65 54.757 59.55 55.957 Q 62.05 57.657 64.65 60.107 Q 67.25 62.557 67.85 64.757 Q 68.85 68.157 68.75 71.407 Q 68.65 74.657 67.45 75.457 Q 66.85 75.757 66.85 76.157 Q 66.85 76.657 66 77.307 Q 65.15 77.957 64.25 78.257 Q 62.55 78.857 58.55 75.457 Q 54.55 72.057 54.55 70.157 Q 54.55 69.557 54 69.207 Q 53.45 68.857 53.25 67.857 Q 53.15 66.757 52.65 66.807 Q 52.15 66.857 51.75 67.957 Q 51.25 69.557 49.85 71.257 Q 48.45 72.957 47.05 73.957 Q 45.35 75.057 42.3 76.157 Q 39.25 77.257 37.95 77.257 Q 36.45 77.257 35.5 77.907 Q 34.55 78.557 29.85 78.757 Q 24.35 78.957 22.55 78.007 Q 20.75 77.057 20.25 73.957 Q 19.95 71.957 19.65 71.757 Q 19.05 71.457 19.2 70.057 Q 19.35 68.657 20.05 68.057 Q 20.85 67.357 20.85 66.607 Q 20.85 65.857 22.05 65.107 Q 23.25 64.357 24.2 63.107 Q 25.15 61.857 27.25 59.457 L 30.55 55.557 Q 31.85 54.057 35.05 49.757 Q 38.25 45.457 38.85 44.957 Q 40.35 43.757 41.35 45.157 Q 41.95 45.657 42.4 45.657 Q 42.85 45.657 44.15 47.257 Q 45.45 48.857 45.75 49.857 Q 46.25 50.857 45.75 52.357 Q 45.25 53.857 44.35 54.457 Q 43.45 54.757 39.35 58.257 Q 35.25 61.757 34.25 62.857 Q 33.45 63.757 32.9 63.757 Q 32.35 63.757 32.35 64.107 Q 32.35 64.457 31.55 65.457 Q 30.25 66.857 31.45 66.957 Q 32.65 67.057 40.15 65.957 Q 46.25 65.057 49.45 62.857 Q 50.95 61.857 51.1 61.457 Q 51.25 61.057 50.95 59.857 Q 50.55 58.557 51.05 56.557 Z M 150.15 78.857 Q 147.35 78.657 145.45 77.957 Q 143.55 77.257 143.05 77.857 Q 142.55 78.357 143.85 79.807 Q 145.15 81.257 149.75 84.857 Q 150.65 85.457 151.35 86.657 Q 152.05 87.857 152.05 88.757 Q 152.05 89.457 152.75 89.107 Q 153.45 88.757 154.55 88.957 Q 157.05 89.457 160.3 86.457 Q 163.55 83.457 164.65 79.457 Q 165.15 77.757 164.85 66.257 Q 164.35 47.257 164.95 41.957 Q 165.45 37.257 163.15 36.457 Q 162.15 36.157 160.65 36.107 Q 159.15 36.057 158.35 36.357 Q 157.25 36.757 157 38.057 Q 156.75 39.357 157.25 42.857 Q 157.75 47.157 157.9 57.157 Q 158.05 67.157 157.55 71.057 L 157.05 75.257 L 155.05 77.157 L 153.15 79.257 L 150.15 78.857 Z M 39.05 11.657 Q 43.45 11.057 43.45 10.657 Q 43.45 10.257 45.25 10.457 Q 45.75 10.457 47.55 10.657 Q 51.45 11.157 52.5 11.507 Q 53.55 11.857 54.65 12.957 Q 55.55 13.757 55.8 14.457 Q 56.05 15.157 56.05 17.357 Q 56.05 19.557 55.85 20.257 Q 55.65 20.957 55.05 21.457 Q 52.95 23.057 52.25 23.257 Q 51.55 23.457 49.75 23.057 Q 47.55 22.557 44.25 22.957 Q 40.55 23.357 36.55 25.557 Q 34.85 26.557 30.25 22.357 Q 26.15 18.457 27.85 15.557 Q 29.15 13.257 39.05 11.657 Z M 142.15 16.657 L 143.35 19.157 L 142.35 22.157 Q 141.35 24.957 140.55 25.407 Q 139.75 25.857 137.45 24.658 Q 135.45 23.757 132.95 20.507 Q 130.45 17.257 129.4 16.307 Q 128.35 15.357 128.8 14.607 Q 129.25 13.857 128.95 13.857 Q 128.65 13.857 129.15 13.157 Q 129.45 12.557 130.15 12.457 Q 130.85 12.357 133.65 12.457 Q 137.85 12.657 139.45 13.407 Q 141.05 14.157 142.15 16.657 Z M 129.55 54.357 Q 129.55 54.857 128.4 57.807 Q 127.25 60.757 126.25 63.057 Q 125.85 63.657 122.95 65.157 Q 120.05 66.657 119.45 66.457 Q 118.95 66.357 118.2 64.207 Q 117.45 62.057 116.95 61.257 Q 115.75 59.457 117.45 57.707 Q 119.15 55.957 123.45 54.657 Q 125.15 54.257 126.55 54.057 Q 127.95 53.857 128.75 53.907 Q 129.55 53.957 129.55 54.357 Z" vector-effect="non-scaling-stroke" fill="none"
            stroke="white"
            stroke-width="5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </mask>
      </defs>

      <!-- Animated stroke path - single continuous line -->
      <path
        class="logo-path"
         d="M 129.65 3.757 Q 127.85 2.757 125.65 1.257 Q 123.95 0.157 123.65 0.057 Q 123.15 -0.143 123.15 0.357 Q 123.15 0.957 120.8 5.857 Q 118.45 10.757 118.45 10.857 Q 118.45 11.257 113.75 20.257 Q 109.55 28.357 101.55 40.257 Q 98.15 45.357 98.55 45.757 Q 98.95 46.157 103.45 41.857 Q 106.15 39.257 109.35 35.157 Q 110.05 34.257 110.65 33.657 Q 114.05 29.857 114.05 32.457 Q 114.05 33.757 115.85 34.057 Q 117.65 34.357 120.25 33.657 Q 120.95 33.457 121.05 33.707 Q 121.15 33.957 121.15 35.257 Q 121.15 36.957 120.75 37.707 Q 120.35 38.457 119.15 38.857 Q 118.05 39.057 113.65 41.157 Q 109.25 43.257 108.15 44.257 Q 106.95 45.157 107.15 46.407 Q 107.35 47.657 107.75 47.857 Q 108.75 48.557 111.55 48.007 Q 114.35 47.457 115.65 46.357 Q 116.15 45.857 117.7 45.057 Q 119.25 44.257 119.65 44.257 Q 119.95 44.257 119.95 47.607 Q 119.95 50.957 120.45 51.357 Q 120.95 51.757 119.75 52.157 Q 118.55 52.557 116.05 54.607 Q 113.55 56.657 113.25 56.457 Q 112.95 56.257 112.3 57.257 Q 111.65 58.257 111.65 59.057 Q 111.65 59.457 112.35 61.757 Q 113.05 64.057 113.55 65.257 Q 113.85 66.057 114.8 68.257 Q 115.75 70.457 116.3 71.107 Q 116.85 71.757 116.85 71.957 Q 116.85 72.457 118.2 74.157 Q 119.55 75.857 119.85 75.857 Q 120.35 75.857 121 74.457 Q 121.65 73.057 122 73.057 Q 122.35 73.057 122.55 72.357 Q 122.75 71.457 125.65 70.857 Q 128.55 70.257 131.35 70.557 Q 133.45 70.657 134 70.557 Q 134.55 70.457 134.95 69.857 Q 135.95 68.157 135.85 65.807 Q 135.75 63.457 134.65 63.457 Q 134.25 63.457 133.65 63.057 Q 133.05 62.657 133.75 61.957 Q 134.45 61.257 135.35 59.857 Q 136.25 58.457 137.3 58.007 Q 138.35 57.557 139.95 55.257 Q 141.15 53.657 141.3 53.207 Q 141.45 52.757 141.05 51.857 Q 139.75 49.257 131.55 49.457 L 127.55 49.457 L 127.85 48.357 Q 128.05 47.257 128.25 44.257 L 128.45 41.057 L 132.25 40.957 Q 136.15 40.757 137.35 41.557 Q 139.85 42.957 140.45 43.157 Q 141.05 43.357 141.75 43.057 Q 142.75 42.657 142.75 42.107 Q 142.75 41.557 143.75 40.357 Q 144.75 39.157 148.85 37.857 L 154.85 36.057 Q 156.55 35.357 159.75 35.057 Q 161.95 34.857 166.45 34.807 Q 170.95 34.757 174.55 34.907 Q 178.15 35.057 178.05 35.257 Q 177.65 37.657 175.05 41.057 Q 174.55 41.757 174.15 42.407 Q 173.75 43.057 173.6 43.407 Q 173.45 43.757 173.55 43.757 Q 173.95 43.857 176.45 42.357 Q 181.85 39.257 185.15 39.657 Q 186.55 39.957 187.05 39.707 Q 187.55 39.457 188.75 38.457 Q 190.35 36.957 190.35 36.207 Q 190.35 35.457 190.75 35.257 Q 191.35 34.957 191.2 34.207 Q 191.05 33.457 190.25 32.757 Q 189.35 31.857 186.75 30.857 Q 184.95 30.057 183.3 29.907 Q 181.65 29.757 175.15 29.557 Q 166.15 29.457 165.9 29.107 Q 165.65 28.757 166.35 26.957 Q 167.05 25.557 167.05 25.057 Q 167.05 24.557 166.65 23.457 Q 165.95 21.957 165.1 21.607 Q 164.25 21.257 164.25 20.757 Q 164.25 20.557 167.05 18.207 Q 169.85 15.857 170.15 15.857 Q 170.55 15.857 171.6 14.507 Q 172.65 13.157 173.15 11.957 Q 173.65 10.957 173.05 10.057 Q 172.45 9.157 171.25 8.557 Q 170.15 8.157 168.95 7.507 Q 167.75 6.857 163.05 6.957 Q 156.95 7.057 153.1 8.207 Q 149.25 9.357 148.55 11.157 Q 148.25 12.157 148.7 12.607 Q 149.15 13.057 150.65 13.357 Q 151.95 13.557 152.95 12.657 Q 155.05 11.057 160.35 10.457 Q 162.05 10.257 162.35 10.657 Q 162.65 11.057 161.85 12.757 Q 161.35 14.057 160.35 16.457 L 159.25 18.857 L 156.15 19.057 Q 152.55 19.257 151.8 20.257 Q 151.05 21.257 152.95 23.257 Q 154.35 24.757 153.95 25.507 Q 153.55 26.257 154.35 26.257 Q 154.95 26.257 156.4 27.807 Q 157.85 29.357 157.75 29.757 Q 157.45 30.357 150.85 32.157 Q 146.95 33.057 141.65 34.857 Q 137.85 36.057 136.9 36.207 Q 135.95 36.357 135.25 35.957 Q 134.35 35.357 131.65 35.357 L 128.85 35.457 L 128.85 34.257 Q 128.85 33.057 128.55 31.957 Q 128.35 31.057 128.5 30.857 Q 128.65 30.657 129.45 30.657 Q 130.65 30.657 131.75 29.857 Q 132.75 28.957 132.85 27.407 Q 132.95 25.857 131.85 24.757 Q 131.05 24.157 130.55 24.057 Q 130.05 23.957 128.95 24.057 Q 125.45 24.557 118.45 27.957 Q 115.95 29.157 115.8 28.957 Q 115.65 28.757 117.25 26.607 Q 118.85 24.457 120.1 22.257 Q 121.35 20.057 123.45 16.907 Q 125.55 13.757 125.55 13.657 Q 125.55 13.357 126.85 11.607 Q 128.15 9.857 128.45 9.857 Q 128.85 9.857 129.6 8.957 Q 130.35 8.057 130.4 7.507 Q 130.45 6.957 130.95 5.857 L 131.65 4.657 L 129.65 3.757 Z M 75.65 33.657 Q 76.15 33.357 78.95 33.557 Q 81.75 33.757 82.75 34.357 Q 83.95 34.857 85.85 35.757 Q 88.45 36.857 89.3 39.157 Q 90.15 41.457 89.05 43.507 Q 87.95 45.557 85.35 46.157 Q 83.85 46.457 83.2 46.357 Q 82.55 46.257 81.05 45.457 Q 76.45 42.957 75.15 42.607 Q 73.85 42.257 69.95 41.957 Q 64.05 41.657 55.6 41.757 Q 47.15 41.857 44.25 42.357 Q 40.85 42.757 33.15 43.757 Q 21.05 45.457 15.75 47.957 Q 13.75 48.957 13.3 48.957 Q 12.85 48.957 11.4 51.257 Q 9.95 53.557 9.05 53.757 Q 6.55 54.457 4.25 52.457 Q 3.05 51.457 2.75 51.457 Q 2.25 51.457 1.25 50.207 Q 0.25 48.957 0.05 48.057 Q -0.15 47.057 0.45 45.607 Q 1.05 44.157 3.65 42.857 Q 8.05 40.757 13.85 39.757 Q 17.75 38.957 20.65 38.457 Q 28.75 36.757 35.45 36.257 Q 39.55 35.757 42.6 35.307 Q 45.65 34.857 60.5 34.507 Q 75.35 34.157 75.65 33.657 Z M 51.05 56.557 L 51.55 54.557 L 54.25 54.457 Q 56.25 54.357 56.95 54.557 Q 57.65 54.757 59.55 55.957 Q 62.05 57.657 64.65 60.107 Q 67.25 62.557 67.85 64.757 Q 68.85 68.157 68.75 71.407 Q 68.65 74.657 67.45 75.457 Q 66.85 75.757 66.85 76.157 Q 66.85 76.657 66 77.307 Q 65.15 77.957 64.25 78.257 Q 62.55 78.857 58.55 75.457 Q 54.55 72.057 54.55 70.157 Q 54.55 69.557 54 69.207 Q 53.45 68.857 53.25 67.857 Q 53.15 66.757 52.65 66.807 Q 52.15 66.857 51.75 67.957 Q 51.25 69.557 49.85 71.257 Q 48.45 72.957 47.05 73.957 Q 45.35 75.057 42.3 76.157 Q 39.25 77.257 37.95 77.257 Q 36.45 77.257 35.5 77.907 Q 34.55 78.557 29.85 78.757 Q 24.35 78.957 22.55 78.007 Q 20.75 77.057 20.25 73.957 Q 19.95 71.957 19.65 71.757 Q 19.05 71.457 19.2 70.057 Q 19.35 68.657 20.05 68.057 Q 20.85 67.357 20.85 66.607 Q 20.85 65.857 22.05 65.107 Q 23.25 64.357 24.2 63.107 Q 25.15 61.857 27.25 59.457 L 30.55 55.557 Q 31.85 54.057 35.05 49.757 Q 38.25 45.457 38.85 44.957 Q 40.35 43.757 41.35 45.157 Q 41.95 45.657 42.4 45.657 Q 42.85 45.657 44.15 47.257 Q 45.45 48.857 45.75 49.857 Q 46.25 50.857 45.75 52.357 Q 45.25 53.857 44.35 54.457 Q 43.45 54.757 39.35 58.257 Q 35.25 61.757 34.25 62.857 Q 33.45 63.757 32.9 63.757 Q 32.35 63.757 32.35 64.107 Q 32.35 64.457 31.55 65.457 Q 30.25 66.857 31.45 66.957 Q 32.65 67.057 40.15 65.957 Q 46.25 65.057 49.45 62.857 Q 50.95 61.857 51.1 61.457 Q 51.25 61.057 50.95 59.857 Q 50.55 58.557 51.05 56.557 Z M 150.15 78.857 Q 147.35 78.657 145.45 77.957 Q 143.55 77.257 143.05 77.857 Q 142.55 78.357 143.85 79.807 Q 145.15 81.257 149.75 84.857 Q 150.65 85.457 151.35 86.657 Q 152.05 87.857 152.05 88.757 Q 152.05 89.457 152.75 89.107 Q 153.45 88.757 154.55 88.957 Q 157.05 89.457 160.3 86.457 Q 163.55 83.457 164.65 79.457 Q 165.15 77.757 164.85 66.257 Q 164.35 47.257 164.95 41.957 Q 165.45 37.257 163.15 36.457 Q 162.15 36.157 160.65 36.107 Q 159.15 36.057 158.35 36.357 Q 157.25 36.757 157 38.057 Q 156.75 39.357 157.25 42.857 Q 157.75 47.157 157.9 57.157 Q 158.05 67.157 157.55 71.057 L 157.05 75.257 L 155.05 77.157 L 153.15 79.257 L 150.15 78.857 Z M 39.05 11.657 Q 43.45 11.057 43.45 10.657 Q 43.45 10.257 45.25 10.457 Q 45.75 10.457 47.55 10.657 Q 51.45 11.157 52.5 11.507 Q 53.55 11.857 54.65 12.957 Q 55.55 13.757 55.8 14.457 Q 56.05 15.157 56.05 17.357 Q 56.05 19.557 55.85 20.257 Q 55.65 20.957 55.05 21.457 Q 52.95 23.057 52.25 23.257 Q 51.55 23.457 49.75 23.057 Q 47.55 22.557 44.25 22.957 Q 40.55 23.357 36.55 25.557 Q 34.85 26.557 30.25 22.357 Q 26.15 18.457 27.85 15.557 Q 29.15 13.257 39.05 11.657 Z M 142.15 16.657 L 143.35 19.157 L 142.35 22.157 Q 141.35 24.957 140.55 25.407 Q 139.75 25.857 137.45 24.658 Q 135.45 23.757 132.95 20.507 Q 130.45 17.257 129.4 16.307 Q 128.35 15.357 128.8 14.607 Q 129.25 13.857 128.95 13.857 Q 128.65 13.857 129.15 13.157 Q 129.45 12.557 130.15 12.457 Q 130.85 12.357 133.65 12.457 Q 137.85 12.657 139.45 13.407 Q 141.05 14.157 142.15 16.657 Z M 129.55 54.357 Q 129.55 54.857 128.4 57.807 Q 127.25 60.757 126.25 63.057 Q 125.85 63.657 122.95 65.157 Q 120.05 66.657 119.45 66.457 Q 118.95 66.357 118.2 64.207 Q 117.45 62.057 116.95 61.257 Q 115.75 59.457 117.45 57.707 Q 119.15 55.957 123.45 54.657 Q 125.15 54.257 126.55 54.057 Q 127.95 53.857 128.75 53.907 Q 129.55 53.957 129.55 54.357 Z" vector-effect="non-scaling-stroke" fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        mask="url(#logo-mask)"></path>
    </svg>
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-svg {
    height: 2rem;
  }

  /* Animated signature effect - single continuous stroke */
  @media (prefers-reduced-motion: no-preference) {
    .logo-path {
      stroke-dasharray: 260;
      stroke-dashoffset: 260;
      animation:
        draw 3s ease-in-out forwards,
        loop 7s ease-in-out 3s infinite;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes loop {
      0% {
        stroke-dashoffset: 0;
      }
      40% {
        stroke-dashoffset: 0;
      }
      70% {
        stroke-dashoffset: 260;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }

  /* Respect reduced motion preference */
  @media (prefers-reduced-motion: reduce) {
    .logo-path {
      stroke-dasharray: none;
      animation: none;
    }
  }

  /* Color adaptation */
  .logo-path {
    color: #17191e;
  }

  :global(.dark) .logo-path {
    color: #fdfdfd;
  }
</style>
